includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 8

    excludePaths:

    universalObjectCratesClasses:

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue

    reportUnmatchedIgnoredErrors: false
