includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 8

    excludePaths:

    checkMissingIterableValueType: false

    universalObjectCratesClasses:

    ignoreErrors:

    reportUnmatchedIgnoredErrors: false

    checkGenericClassInNonGenericObjectType: false
